<main>
    <div class="row g-2">
        <div class="col-12">
            <div class="">
                <h2>{{header}}</h2>
                <div class="nav nav-tabs">
                    {{#each purchase.tabs}}
                    <div class="nav-item">
                        <a href="#" class="nav-link {{#if @first}}active{{/if}}">
                            {{this}}</a>
                    </div>
                    {{/each}}
                </div>
                <div class="col-12 mt-2 mb-2">
                    <div class="row g-2">
                        <div class="col-3 me-1">
                            <input class="form-control" type="text"
                                placeholder="{{purchase.actionBlock.input.placeholder}}">
                        </div>
                        <div class="nav col-8 g-2">
                            {{#each purchase.actionBlock.buttons}}
                            <a href="{{this.link}}"
                                class="me-2 {{#if isSuccess}}btn btn-success{{/if}} {{#if isOutline}}btn btn-outline-success{{/if}} {{#if isDanger}}btn btn-outline-danger{{/if}}">
                                {{this.text}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div class="row g-2">
            {{#each purchase.itemList}}
            <div class="col-4 p-1">{{this.number}}
                <h6>{{this.status}}</h6>
            </div>
            <div class="col-1">{{this.amount.title}}:
                <h6>{{this.amount.value}}</h6>
            </div>
            <div class="col-5">
                {{#each this.images}}
                <img src="{{this}}" alt="purchase image">
                {{/each}}
            </div>
            <div class="col-2"> <a href="{{this.button.link}}"
                    class="{{#if this.button.isPrimary}}btn btn-primary{{/if}}">{{this.button.text}}</a>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>

    <h1 class="pt-4 pb-4">{{userInfo.title}}</h1>
    <div class="row">
        <div class="card col-12 ">

            <div class="ms-4 mt-2 mb-2">
                <h2>{{userInfo.profileData.title}}</h2>
                {{#each userInfo.profileData.fullName}}
                {{this.title}}
                {{/each}}
            </div>
            <div class="ms-4">
                {{#each userInfo.profileData.fullName}}
                <b>{{this.value}}</b>
                {{/each}}
            </div>
            <div class="mt-2 ms-4">
                {{#each userInfo.profileData.otherInfo}}
                {{this.title}}
                {{/each}}
            </div>
            <div class="mt-2 ms-4 mb-2">
                {{#each userInfo.profileData.otherInfo}}
                <b>{{this.value}}</b>
                {{/each}}
            </div>
            <div class="mb-2 ms-4">
                {{#each userInfo.buttons}}
                <a href="#" {{#if this.isPrimary}}class="btn btn-primary" {{/if}} {{#if
                    this.isSecondary}}class="btn btn-secondary" {{/if}} {{#if this.isDanger}}class="btn btn-danger"
                    {{/if}}>{{this.text}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="card">
        <h2>{{userInfo.recipients.title}}</h2>
        {{#each userInfo.recipients.users}}
        <div class="col-10">
            {{this.name}}
            {{this.phone}}
            <a href="#" class="btn btn-primary mb-2 mt-2">{{this.button.text}}</a>
        </div>
        {{/each}}
    </div>
    <div class="card">
        <h2>{{userInfo.contacts.title}}</h2>
        <div>
            <div>{{userInfo.contacts.contactData.phone.title}}: {{userInfo.contacts.contactData.phone.value}}</div>
            <div>{{userInfo.contacts.contactData.additionalPhone.title}}:
                {{userInfo.contacts.contactData.additionalPhone.value}}</div>
            <div>{{userInfo.contacts.contactData.email.title}}: {{userInfo.contacts.contactData.email.value}}</div>
        </div>
        <div class="mb-2 ms-4">
            {{#each userInfo.buttons}}
            <a href="#" {{#if this.isPrimary}}class="btn btn-primary" {{/if}} {{#if
                this.isSecondary}}class="btn btn-secondary" {{/if}} {{#if this.isDanger}}class="btn btn-danger"
                {{/if}}>{{this.text}}</a>
            {{/each}}
        </div>
    </div>
    <br>
    <hr>
</main>