<main>
    <div>
        <h1 class="text-center">{{page_header.title}}</h1>
        <p class="text-center">{{page_header.description}}</p>
    </div>
    <div class="card">
        <div class="card-body">

            <div>
                <div class="display-6 text-end">{{section.about_us.title_list.main}}</div>
                <h2 class="text-end">{{section.about_us.title_list.sub}}</h2>
                <button class="btn btn-outline-info btn-sm">{{section.about_us.button.text}}</button>
            </div>

            <div>
                <div class="display-5">{{section.advantage.title}}</div>
                <div>
                    <div class="display-4">{{section.advantage.efficiency.title}}</div>
                    <h6>{{section.advantage.efficiency.sub_title}}</h6>
                    <p>{{section.advantage.efficiency.description}}</p>
                    <button class="btn btn-warning">{{section.advantage.efficiency.button}}</button>
                </div>
                <div>
                    <h3 class="text-muted text-center">{{section.advantage.innovation.title}}</h3>
                    <h4 class="text-muted text-center">{{section.advantage.innovation.sub_title}}</h4>
                    <p>{{section.advantage.innovation.description}}</p>
                    <button class="btn btn-warning">{{section.advantage.innovation.button}}</button>
                </div>
                <div>
                    <div class="display-4 text-end">{{section.advantage.collaboration.title}}</div>
                    <h6 class="text-end">{{section.advantage.collaboration.sub_title}}</h6>
                    <p class="text-end">{{section.advantage.collaboration.description}}</p>
                    <button class="btn btn-outline-warning">{{section.advantage.collaboration.button}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>{{section.agreement.title}}</h2>
            <div>
                <h4>{{section.agreement.info.sub_title}}</h4>
                <p>{{section.agreement.info.detail.text}}</p>
                <button class="btn btn-success">{{section.agreement.info.detail.button}}</button>
            </div>
        </div>
    </div>
</main>